.App {
  text-align: center;
  margin: 20%;
}

.title {
  font-size: 4rem;
  background-color: rgb(53, 73, 93);
}
.description {
 background-color: rgb(255, 255, 255);
 font-size: 2rem;
 color: springgreen;
}
.add-descprition {
  display: flex;
justify-content: space-between;
}
.add {
  float: right;
  padding: 20px;
}

.add_items {
  background-color:rgb(42, 187, 156);
}
.forms {
  height: 80px;
}
.list {
  background-color: #2abb9c;
}

.text {
  color:#f9fcf8;
  font-size: x-large;
  text-decoration: line-through;
}